.list-item {
    margin-bottom: 10px; 
    background: white; 
    border-radius: 10px;
}

.div-list {
    background: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center
}